<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/main.css">
  </head>

  <body>

      <div class="wrapper">
          <abbr title="Home">
            <div class="wrap-items" id="wrap-item1">
                <a id="homeTitle" class="topBarLinks" href="index.html">Budget</a>
            </div>
          </abbr>
          <abbr title="About this page">
            <div class="wrap-items" id="wrap-item2">
                <a href="#" class="topBarLinks">Login</a>
            </div>
          </abbr>
          <abbr title="Social media links">
            <div class="wrap-items" id="wrap-item3">
              <a href="#" class="topBarLinks">About</a>
            </div>
          </abbr>
          <abbr title="Contact me!">
            <div class="wrap-items" id="wrap-item4">
              <a href="#" class="topBarLinks">Contact</a>
            </div>
          </abbr>
        </div>

    <div class="contentWrap">
      
      <h2>Financial Service</h2><br>    
      <div class="login">    
        <form id="login" method="get" action="login.php">    
            <label><b>User Name     
            </b>    
            </label>    
            <input type="text" name="Uname" id="Uname" placeholder="Username">    
            <br><br>    
            <label><b>Password     
            </b>    
            </label>    
            <input type="Password" name="Pass" id="Pass" placeholder="Password">    
            <br><br>    
            <input type="button" name="log" id="log" value="Log In">          
            <br><br>    
            <a href="#" id="forgotPass">Forgot Password</a>    
        </form>     
      </div>
    </div>

  </body>

</html>
